/* 初期状態 */
.fade-enter {
    opacity: 0;
    transform: rotate(-180deg);
  }
  
  /* アクティブ状態 */
  .fade-enter-active {
    opacity: 1;
    transform: rotate(0deg);
    transition: opacity 500ms, transform 500ms;
  }
  
  /* 退出状態 */
  .fade-exit {
    opacity: 1;
    transform: rotate(0deg);
  }
  
  /* 退出アクティブ状態 */
  .fade-exit-active {
    opacity: 0;
    transform: rotate(180deg);
    transition: opacity 500ms, transform 500ms;
  }